@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.firstsection{height: 100vh;width: 100%;display: flex;flex-direction: column;}
.navbar{height: 10vh;width: 100%;}
.navbar img{height: 70%;width: 10%; float: left; margin-left: 2%;margin-top: 1%;}
.navlinks{display: flex; width: 30%; height: 70%;float: right;display: flex;flex-direction: row;font-size: 20px;font-family: 'Nunito Sans', sans-serif;font-weight: 500;margin-top: 1.5%;}
.homeli{padding: 0 20px;margin-right: -2%;}
.bottompart{display: flex;width: 100%;height: 75vh;}
.content{width: 40%;height: 100%;display: flex;}
.imageside{ height: 100%;width: 60%;}
.imageside img{width: 85%;}
.subcontent{margin: auto;height: 45%;width: 80%;font-size: 21px;font-family: 'Nunito Sans', sans-serif;color: #707070;}  
.subcontent h1 p{color: #B33245;margin-top: 1%;}
.subcontent h5{color: #707070;margin-top: -5%;}
.arrow h2{color: #b43f51;font-size: 16px;}
.arrow i{font-size: 40px;color:#B33245 ;margin-top: -0.5%;}